#styleColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    &::-webkit-color-swatch {
        border: 5px solid rgba(0, 0, 0, 0.548);
        border-radius: 15px;
    }
    &::-moz-color-swatch {
        border: 5px solid rgba(0, 0, 0, 0.548);
        border-radius: 15px;
    }
}
