#styleColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    &::-webkit-color-swatch {
        border-radius: 15px;
    }
    &::-moz-color-swatch {
        border-radius: 15px;
    }
}
