.welcome-back-area {
    background: url('../../assets/images/welcome-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 50px;
    border-radius: 20px;
}
